.recommendation-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;

  div {
    display: inline-block;
    color: white;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;

    &:hover {
      background-color: #777;
    }
  }
}